<header>
    <div class="container">
        <img src="/assets/images/damilogo.jpeg" width="110" height="30">

               <div class="auth-buttons">
            <a href="/login" class="button button-primary">Login</a>

        </div>


    </div>
</header>