<header>
    <div class="container">
        <img src="/assets/images/damilogo.jpeg" width="110" height="30">

               <div class="auth-buttons">
            <a href="/home/index" class="button button-primary">Home</a>

        </div>


    </div>
</header>